.navbar{
    background-image: linear-gradient(to left, rgb(255, 145, 0), rgb(255, 115, 0));
}

.section1{
    background-color: #efefef;
    margin-top: 55px;
    margin-bottom: 55px;
}

.footer {
    background-image: linear-gradient(to left, rgb(255, 145, 0), rgb(255, 115, 0));
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    margin-top: 55px;
  }